.about-section {
  background-color: #f2f6f9;
  padding: 100px 30px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.about-wrapper {
  background: #fff;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.08);
}

.about-left h2 {
  font-size: 38px;
  color: #004d40;
  margin-bottom: 20px;
}

.about-left p {
  font-size: 17px;
  line-height: 1.8;
  margin-bottom: 20px;
  color: #555;;
  text-align: justify;
}

.about-right h2 {
  font-size: 38px;
  margin-bottom: 20px;
  color: #004d40;
}

.about-right ul {
  list-style: none;
  padding: 0;
}

.about-right ul li {
  font-size: 17px;
  margin-bottom: 15px;
  padding-left: 10px;
  position: relative;
  color: #555;
}
