 .contact-section {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 40px 10%; /* reduced vertical padding */
  flex-wrap: wrap;
  gap: 20px; /* tighter gap */
}

.contact-left {
  flex: 1;
  min-width: 350px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 10px;
}

.contact-left h1 {
  font-size: 50px;
  color: #0f1b2a;
  font-weight: bold;
}

.social-links {
  margin-top: 30px;
}

.social-links h3 {
  font-size: 25px;
  margin-bottom: 15px;
  color: #0f1b2a;
}

.social-links ul {
  list-style: none;
  padding: 0;
}

.social-links li {
  font-size: 16px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  color: #0f1b2a;
  border-bottom:0.5px solid  #90e9f5bc;
  padding-bottom: 5px;
  max-width: 350px;
  padding-top: 5px;
}

.social-links i {
  margin-right: 30px;
  font-size: 18px;
}

.contact-right {
  flex: 1;
  min-width: 350px;
  background: #ffffff;
  padding: 30px; /* reduced padding */
  border-radius: 60px; /* smaller radius */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  align-self: center; /* vertically center */
}

.contact-right form {
  display: flex;
  flex-direction: column;
}

.contact-right label {
  margin-bottom: 6px;
  font-weight: 600;
  color: #222;
}

.contact-right span {
  color: red;
}

.contact-right input,
.contact-right textarea {
  margin-bottom: 15px;
  padding: 10px 14px; /* slightly smaller padding */
  border-radius: 12px;
  border: 1px solid #0f1b2a;
  font-size: 15px;
}

.contact-right button {
  background-color: #0f1b2a;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 15px;
  cursor: pointer;
  align-self: flex-start;
  transition: background-color 0.3s;
}

.contact-right button:hover {
  background-color: #1c2d48;
}

