.navbar {
  background-color: #e0f7fa;
    display: flex;
        width: 100%;
      
        top: 0;
        padding: 15px 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;
}

.logo img {      
  width: 150px;
  height: auto;
  margin-right: 10px;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.navbar-nav .nav-link {
  text-decoration: none;
        color: #030202;
        font-weight: 600;
        font-size: 16px;
        transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #ff5722;
}


