.projects-section {
 
  padding: 100px 30px;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
}

.projects-section h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #004d40;
}

.project-card {
   background: white;
  outline: 1px solid rgba(95, 93, 93, 0.838);
  outline-offset: 20px;
  margin-inline: 30px;
  margin-top: 40px;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  text-align: left;
}

.project-card h3 {
  color: #ff5722;
  margin-bottom: 15px;
 text-align: center;
}

.project-card video {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9; /* maintains video size */
  border-radius: 10px;
  margin-bottom: 15px;
  object-fit: cover;
}

.project-card p {
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  margin-top: auto;
}

