* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  font-family: 'Open Sans', sans-serif;
  /* background-color: #e0f7fa; */
  background: radial-gradient(#fff, #c7ecf1e0);
  overflow-x: hidden;
  color: #333;
}

